section#news {
    hgroup {
        p {
            text-transform: uppercase;
            font-weight: 600;
        }

        h2 {
            color: var(--brown);
        }
    }

    p {
        line-height: 1.4;
        font-size: var(--stf);
    }

    div.articles {
        display: flex;
        flex-direction: row;
        gap: var(--stp);

        article {
            img {
                aspect-ratio: 5 / 3;
                object-fit: cover;
                width: 100%;
            }

            div.text {
                padding: var(--stp);
                background-color: var(--very-light-grey);

                h3 a {
                    color: var(--brown);
                }

                >a {
                    display: inline-block;
                    cursor: pointer;
                    border: 1px solid var(--orange);
                    text-transform: uppercase;
                    font-weight: 600;
                    color: var(--black);
                    text-decoration: none;
                    padding: rem(8) rem(20);
                }

                >a:hover {
                    background-color: var(--light-brown);
                }
            }
        }
    }
}


@include breakpoint(0, $mobile-workshop) {
    section#news {
        margin-left: var(--stp);
        margin-block: var(--p63);

        hgroup {
            padding-block: var(--stp);

            h2 {
                font-size: rem(28);
            }
        }

        div.articles {
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-snap-align: start;


            article {
                flex: 0 0 70vw;

                div.text {
                    h3 a {
                        font-size: rem(22);
                        text-underline-offset: 8px;
                        text-decoration-thickness: 1px;
                    }

                    p {
                        padding-top: calc(var(--stp));
                        padding-bottom: var(--p32);
                    }

                }
            }
        }
    }
}

@include breakpoint($desktop-workshop) {
    section#news {
        margin: var(--m164);

        hgroup {
            padding-bottom: var(--p63);

            p {
                font-size: var(--stf);
            }

            h2 {
                font-size: rem(61);
            }
        }

        div.articles {

            article {
                flex-basis: calc((100% - var(--stp) * 2) / 3);

                div.text {
                    h3 a {
                        font-size: rem(34);
                        text-underline-offset: 6px;
                    }

                    p {
                        padding-top: calc(var(--stp)/2);
                        padding-bottom: var(--stp);
                    }

                }
            }
        }
    }
}