section#workshops {
    hgroup {
        p {
            text-transform: uppercase;
            font-weight: 600;
        }

        h2 {
            color: var(--brown);
        }
    }

    .levels {
        .level>img {
            background-color: var(--grey);

            object-fit: contain;
            border-radius: 50%;
        }

        .level {
            background-color: var(--black);

            p {
                color: var(--white);

            }

            .level-text {
                h3 {
                    color: var(--orange);
                }

                p {
                    line-height: 1.4;

                }

                a {
                    cursor: pointer;
                    border: 1px solid var(--orange);
                    text-transform: uppercase;
                    font-weight: 600;
                    color: var(--white);
                    text-decoration: none;
                }

                a:hover {
                    background-color: var(--light-brown);
                }
            }
        }
    }
}


img {
    max-width: 100%;
}

@include breakpoint(0, $mobile-workshop) {
    section#workshops {
        padding-inline: var(--stp);
        padding-block: var(--p63);

        hgroup {
            padding: var(--stp);

            h2 {
                font-size: rem(28);
            }
        }

        .levels {
            .level>img {
                width: var(--icon-width);
                height: auto;
                margin-inline: auto;
                margin-top: calc(var(--icon-width) / -2);
                padding: var(--stp);

            }

            .level {
                margin-top: calc(var(--icon-width)/2 + var(--p32));
                text-align: center;
                position: relative;

                .count {
                    position: absolute;
                    z-index: -1;
                    top: calc(var(--icon-width)/-2 - 12px);
                    left: 58%;
                    clip-path: circle();
                    background-color: var(--light-grey);
                    font-weight: 600;
                    font-size: rem(28);
                    padding: calc(var(--stp) / 1.5);

                    p {
                        color: var(--brown);

                    }
                }

                .level-text {
                    padding: var(--stp);
                    text-align: left;

                    h3 {
                        font-size: rem(22);
                    }

                    p {
                        padding-top: calc(var(--stp)/2);
                        padding-bottom: var(--stp)
                    }

                    a {
                        display: inline-block;
                        padding: var(--stp) var(--p32);
                    }
                }

                blockquote {
                    img {
                        width: 10vw;
                        height: auto;
                    }

                    p {
                        font-size: rem(22);
                        padding-bottom: var(--stp);
                    }
                }
            }
        }
    }

}

@include breakpoint($desktop-workshop) {
    section#workshops {
        margin: var(--m164);

        hgroup {
            padding-bottom: var(--p63);

            p {
                font-size: var(--stf);
            }

            h2 {
                font-size: rem(54);
            }
        }

        .levels {
            .level>img {
                padding: rem(16);
                vertical-align: middle;
                margin: auto;
                padding: var(--p32);

            }

            .level {
                display: grid;
                grid-template-columns: 1fr repeat(4, 2fr);
                min-height: rem(330);

                .count {
                    grid-area: 1;
                    background-color: var(--white);

                    p {
                        color: var(--black);
                        font-size: rem(300);
                        font-weight: 600;
                        margin-right: rem(-24);
                        text-align: right;

                    }
                }

                .level-text {
                    grid-row: 1;
                }

                .level-text {
                    padding: var(--stp);

                    h3 {
                        font-size: var(--fss);
                    }

                    p {
                        padding-block: calc(var(--stp)/2);
                        font-size: var(--stf);
                    }

                    a {
                        font-size: var(--stf);
                        display: inline-block;
                        padding: calc(var(--stp)/2) var(--stp);
                    }
                }

                blockquote {
                    padding: var(--stf);

                    position: relative;

                    img {
                        position: absolute;
                        width: 50%;
                        bottom: -3%;
                        right: 0;
                    }

                    p {
                        font-size: var(--fss);
                    }
                }
            }

            .level:first-of-type {
                margin-left: 10vw;


                .count {
                    p {
                        line-height: 0.7;
                        padding-bottom: 67%;
                    }
                }
            }

            .level-text {
                grid-column: 2 / span 2;
            }

            img {
                grid-column: 4;
            }

            blockquote {
                grid-column: 5;
            }
        }

        .level:nth-of-type(2) {
            margin-left: 5vw;
            margin-right: 5vw;


            margin-block: var(--p40);

            .count {
                display: flex;
                align-items: center;
                vertical-align: middle;
                justify-content: flex-end;

                p {
                    margin-block: auto;
                }
            }

            .level-text {
                grid-column: 4 / span 2;
            }

            img {
                grid-column: 3;
            }

            blockquote {
                grid-column: 2;
                grid-row: 1;
                display: flex;

                p {
                    margin-top: auto;
                    align-self: baseline;
                }

                img {
                    position: absolute;
                    top: -10px;
                }
            }
        }


        .level:nth-of-type(3) {
            margin-right: 10vw;

            .count {
                line-height: 0.62;
                padding-top: 97%;
            }

            .level-text {
                grid-column: 3 / span 2;
            }

            img {
                grid-column: 2;
            }

            blockquote {
                grid-column: 5;
                grid-row: 1;
                display: flex;

                p {
                    margin-top: auto;
                    align-self: baseline;
                }

                img {
                    position: absolute;
                    top: rem(10);
                    right: rem(-10);
                }
            }
        }




    }
}